<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

<!-- Broker Configuration -->
<bean id="amqConnectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory">
	<property name="brokerURL" value="tcp://localhost:61616" />
</bean>

<bean id="cachingConnectionFactory" class="org.springframework.jms.connection.CachingConnectionFactory">
	<property name="targetConnectionFactory" ref="amqConnectionFactory"></property>
</bean>

<bean id="destination" class="org.apache.activemq.command.ActiveMQQueue">
	<property name="physicalName" value="TESTQUEUE"></property>
</bean>

<bean id="jmsTransManager" class="org.springframework.jms.connection.JmsTransactionManager">
	<property name="connectionFactory" ref="amqConnectionFactory" />
</bean>


</beans>
